//
// BaseConfig.xcconfig
// ApsisOne
//
// Created by Daniil Alferov on 30.09.2021.
// Copyright © 2021 APSIS International AB. All rights reserved.

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MARKETING_VERSION = 0.5.1
CURRENT_PROJECT_VERSION = 7
